.bunbun-header img {
    width: 400px;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

hr {
    border: 2px solid black;
}

.bunbun-products {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

nav a {
    text-decoration: none;
}

nav span {
    background-color: yellow;
    font-weight: bold;
}

.bunbun-titlerow {
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}

.bunbun-rolllist {
    margin-left: auto;
    margin-right: auto;
}

.bunbun-rollgrid {
    border: 10px solid transparent;
    margin-bottom: 50px;
    width: 400px;
}

.bunbun-rollgrid a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    text-align: left;
} 

.bunbun-rollgrid:hover {
    background-color: yellow;
}

.bunbun-rolllist img {
    width: 400px;
    height: 400px;
    border: 2px solid #000; 
    margin-bottom: 20px;
}

.bunbun-rollgrid p {
    margin-top: -10px;
    margin-bottom: 10px;
}

.bunbun-rollgrid p span {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.bunbun-rollgrid:hover p span {
    font-weight: bold;
}

.bunbun-imgdetail {
    width: 600px;
    border: 2px solid #000; 
}

.bunbun-imgdesc {
    width: 300px;
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
}

.bunbun-dropdown {
    margin-bottom: 50px;
    margin-top: 40px;
    width: 100%;
}

.bunbun-total {
    display: flex;
    justify-content: space-between;
}

.bunbun-total p {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.bunbun-total button {
    background-color: yellow;
    border: 1px solid black;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.bunbun-cart {
    width: 400px;
}

.bunbun-cartdesc {
    text-align: center;
    margin-bottom: 50px;
}

.bunbun-cartimg {
    width: 200px;
    border: 2px solid #000; 
}

.bunbun-cartrmv {
    font-size: 12px;
    text-decoration: underline;
}

.bunbun-cartitem {
    font-size: 25px;
    line-height: 0%;
    margin-top: 40px;
}

.bunbun-cartitemprice {
    font-size: 30px;
}

.bunbun-checkout {
    text-align: center;
    font-size: 30px;
    width: 170px;
}

.bunbun-checkout button {
    background-color: yellow;
    border: 1px solid black;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
    width: 170px;
}




/*

REFERENCES USED

on text decoration: https://www.w3schools.com/cssref/pr_text_text-decoration-thickness.php
understanding flexboxL https://css-tricks.com/snippets/css/a-guide-to-flexbox/
on hover pseudoclass: https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
on hover pseudoclass (2): https://www.w3schools.com/cssref/sel_hover.php
on hover including areas outside img box: https://stackoverflow.com/questions/48753252/enable-hover-on-margin
on buttons: https://www.w3schools.com/css/css3_buttons.asp#gsc.tab=0

*/


